# Aliases

# Conda environment
conda create -n ml4mikc python=3.10 -y
conda activate ml4mikc
pip install requests                  # 2.32.4
pip install tqdm                      # 4.67.1
pip install bioservices               # 1.12.1
pip install aiohttp                   # 3.13.2
pip install seaborn                   # 0.13.2